---
layout: master
title: Colloid Physics on the International Space Station
---
{% include header.html %}

<!--<article>
  <h1>BCAT and ACE: Colloid Physics in Space</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span>: <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</article> -->

<div class="container">
    <div class="row sort">
      <p>Sort by:&nbsp;
        <a href="#" data-filter="*" class="current">All</a>
      {% for category in site.categories %}
        &nbsp;&nbsp;/&nbsp;&nbsp;<a href="#" data-filter=".{{ category | first | capitalize }}">{{ category | first }}</a>
      {% endfor %}
      </p>
    </div>
  </div>

  <div class="container">
  	<div class="row portfolioContainer">

  		{% for post in site.posts %}

	  	<div class="col-sm-3 {{ post.categories | join: ' ' }}">
        <a href="{{ post.url }}">
  	  		<div class="circle" style="background-image:url('{{ post.image }}');">
            <p><span class="date">{{ post.date | date_to_string }}</span>{{ post.title }}</p>
          </div>
        </a>
	  	</div>
	  	
	  	{% endfor %}

    </div> <!-- /.row -->
  </div> <!-- /.container -->


{% include footer.html %}

