---
layout: master
title: Colloid Physics on the International Space Station
---
{% include header.html %}

<!--<article>
  <h1>BCAT and ACE: Colloid Physics in Space</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span>: <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</article> -->

<div class="container">
    <div class="row sort">
      <p>Sort by:&nbsp; <a href="#" data-filter="*" class="current">All</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#" data-filter=".people">Category 1</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#" data-filter=".places">Category 2</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#" data-filter=".food">Category 3</a></p>
    </div>
  </div>

  <div class="container">
  	<div class="row portfolioContainer">

	  	<div class="col-sm-3 objects">
        <a href="#">
  	  		<div class="circle" style="background-image:url('img/1.png');">
            <p><span class="date">Sept. 9</span>
            During operations, NASA eliminates our funding for the rest of the year</p>
          </div>
        </a>
	  	</div>
	  	<div class="col-sm-3 people">
        <a href="#">
  	  		<div class="circle" style="background-image:url('img/2.png');">
            <p><span class="date">Sept. 9</span>
            Significant science, slower phase separation in ACE than in BCAT-KP</p>
          </div>
        </a>
	  	</div>
	  	<div class="col-sm-3 places">
        <a href="#">
  	  		<div class="circle" style="background-image:url('img/3.png');">
            <p><span class="date">Sept. 9</span>
            Same sample, different behavior?</p>
          </div>
        </a>
	  	</div>
	  	<div class="col-sm-3 food">
        <a href="#">
  	  		<div class="circle" style="background-image:url('img/1.png');">
            <p><span class="date">Sept. 9</span>
            Significant science, gelation and phase separation</p>
          </div>
        </a>
	  	</div>
	  	<div class="col-sm-3 objects">
        <a href="#">
  	  		<div class="circle" style="background-image:url('img/2.png');">
            <p><span class="date">Sept. 9</span>
            On-orbit challenges, broken LMM lamp</p>
          </div>
        </a>
	  	</div>
	  	<div class="col-sm-3 places">
        <a href="#">
  	  		<div class="circle" style="background-image:url('img/3.png');">
            <p><span class="date">Sept. 9</span>
             Converting the website to documents</p>
          </div>
        </a>
	  	</div>
	  	<div class="col-sm-3 food">
        <a href="#">
  	  		<div class="circle" style="background-image:url('img/1.png');">
            <p><span class="date">Sept. 9</span>
            Building a website from a few dozen lines of code</p>
          </div>
        </a>
	  	</div>
      <div class="col-sm-3 people">
        <a href="#">
          <div class="circle" style="background-image:url('img/2.png');">
            <p><span class="date">Sept. 9</span>
            During operations, NASA eliminates our funding for the rest of the year</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#">
          <div class="circle" style="background-image:url('img/3.png');">
            <p><span class="date">Sept. 9</span>
            Significant science, slower phase separation in ACE than in BCAT-KP</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#">
          <div class="circle" style="background-image:url('img/1.png');">
            <p><span class="date">Sept. 9</span>
            Same sample, different behavior?</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#">
          <div class="circle" style="background-image:url('img/2.png');">
            <p><span class="date">Sept. 9</span>
            Significant science, gelation and phase separation</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#">
          <div class="circle" style="background-image:url('img/3.png');">
            <p><span class="date">Sept. 9</span>
            On-orbit challenges, broken LMM lamp</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#">
          <div class="circle" style="background-image:url('img/1.png');">
            <p><span class="date">Sept. 9</span>
             Converting the website to documents</p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#">
          <div class="circle" style="background-image:url('img/2.png');">
            <p><span class="date">Sept. 9</span>
            Building a website from a few dozen lines of code</p>
          </div>
        </a>
      </div>

    </div> <!-- /.row -->
  </div> <!-- /.container -->


{% include footer.html %}

