<div class="header">
  <div class="container">
    <a class="pull-left logo col-sm-6" href="https://jessicaoverbey.github.io">
      <p>Colloid Physics in Space</p>
    </a>
    <p class="pull-right tagline col-sm-6 hidden-xs">Lorem ipsum dolor sit amet by <a href="http://www.peterlu.org/" target="_blank">Peter J Lu</a></p>
  </div> <!-- /.container -->
</div> <!-- /.header -->

<div class="ticker">
<div class="container">
  <div id="carousel-home" class="carousel slide" data-ride="carousel">
          <div class="row">
            <div class="col-sm-1 hidden-xs">
                <a class="right carousel-control" href="#carousel-home" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
            </div>
              <div class="col-sm-10 headline">
                  <div class="carousel-inner">
                    {% for post in site.categories.category-1 limit:1 %}
                      <div class="item active">
                          <div class="carousel-content">
                              <div>
                                  <a href="{{ post.url }}"><p>{{ post.title }}</p></a>
                              </div>
                          </div>
                      </div>
                    {% endfor %}
                    {% for post in site.categories.category-1 offset:1 %}
                      <div class="item">
                          <div class="carousel-content">
                              <div>
                                  <a href="{{ post.url }}"><p>{{ post.title }}</p></a>
                              </div>
                          </div>
                      </div>
                    {% endfor %}
                  </div> <!-- .carousel-inner -->
              </div> <!-- .col-sm-10 -->
              <div class="col-sm-1 hidden-xs">
                <a class="left carousel-control" href="#carousel-home" role="button" data-slide="next" style="margin-right:15px;">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
        </div> <!-- .row-->
    </div> <!-- .carousel-->
</div> <!-- .container-->
</div> <!-- .ticker-->